@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap');

/* 初期設定 */
body {
    margin-top: 88px;   /* ヘッダーの高さ分空ける */
}

#wrapper {
    position: relative;
    width: 100%;
    padding-top: 88px;
    margin-top: -88px;
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W', 'Hiragino Kaku Gothic Pro', 'メイリオ', '游ゴシック', '游ゴシック体', sans-serif;
    overflow: hidden;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; /*ボタンがクリック出来る、ただanimationがかけられないからopcaityを指定。*/
    opacity: 0;
    cursor: pointer;
}

.active .cover {
    visibility: visible;
    opacity: 1;
}

/*---------------------------------

共通パーツ

---------------------------------*/
/* ページ内リンクのズレを解消 */

/* section:before { 
    content: " ";
    margin-top: -88px;
    height: 88px;
    display: block;
    visibility: hidden;
} */

section {
    padding: 100px 0; /* 上記の擬似要素の指定に加えてこれを入れないと表示が崩れる */
}

/* 見出し */
.heading {  
    width: 20%;
    min-width: 250px;
    margin: 0 auto 4.166vw; 
    text-align: center;
}

.heading > .heading_text {
    font-size: calc(2.5rem + ((1vw - 8px) * 1.3393)); /* 20~40px */
    font-weight: 500;
}

.heading > span {
    display: block; /* 改行のため */
    font-size: 1.2rem;
}

.fadeIn {
    opacity: 0; /* jqueryでクラスを付与して表示する */
    transition: opacity 1s;
}

.fadeIn.animated {
    opacity: 1;
}

/*
表示崩れ防止 
———————————*/
@media (max-width:1100px) {
    .heading {
        width: 25%;
    }
}

@media (max-width:800px) {
    .heading {
        margin-bottom: 40px;
    }
    
    .heading > .heading_text {
        font-size: calc(2.5rem + ((1vw - 3.2px) * 2.5862)); /* 25~40px */
    }
}

@media (max-width:800px) {
    section {
        padding: 70px 0;
    }
    
    .heading {
        width: 32%;
    }
}

/*---------------------------------

 ヘッダー

---------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 88px; /* box-sizing:border-box;を指定しているのでこれ以上は広がらない、88pxで絶対固定 */
    padding-right: 2em;
    background: #fdfdfd;
    box-shadow: 0px 11px 10px -10px rgba(0, 0, 0, 0.2);
}

.logo_wrapper {
    display: flex;
    flex-basis: 23%; /* widthと同義 */
    max-width: 450px; /* 2500pxまで対応 */
    min-width: 400px;
    padding-left: 10px;
    align-items: center;
}

.logo_wrapper::before {
    content: "\f53f";
    margin-right: 10px;
    color: #000000;
    font-family: "Font Awesome 5 Free";
    font-size: 4.5rem;
    font-weight: 900;
}

.logoTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
}

.logoTitle1 {
    font-size: 1.5rem;
    color: #000000;
}

.logoTitles2 {
    color: #000000;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.05em;
}

/* ナビゲーション  */
.header_nav {
    display: flex;
    margin: 1.5em 1em 1.5em 0;
    align-items: center;
}

.nav_items {
    display: flex;
    height: 100%;
    color: #000000;
    align-items: center;
}

.nav_item {
    width: calc(100% / 4);
    height: 100%;
    font-size: calc(1.2rem + ((1vw - 5.6px) * 0.5882)); /* 12~20px */
    font-weight: 500;
    text-align: center;
}

.nav_item > a {
    display: block;
    height: 100%;
    padding: 17px 1.8em;
    color: #000000;
}

.active-hover .nav_item > a:hover {
    text-decoration: underline;
    color: #617c8c;
}

.imgWrapper {
    width: 100%;
}

.mainVisual {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* sp版ナビゲーション  */
.mobile-menu_btn {
    display: none;
    position: relative;
}

.mobile-menu_btn::after {
    content: 'MENU';
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    color: #000000;
    font-size: 0.8rem;
    text-align: center;
}

.mobile-menu_btn > span {
    display: block;
    width: 45px;
    min-width: 45px;
    height: 5px;
    background: #000000;
    transition: transform 0.7s;
}

.mobile-menu_btn > span + span {
    margin-top: 10px;
}

/* 
表示崩れ防止 *ロゴ部分
———————————*/
@media (max-width:800px) {
    .logo_wrapper {
        min-width: 280px;
    }
    
    .logoTitle1 {
        font-size: 1.2rem;
    }
    
    .logoTitles2 {
        font-size: 2.2rem;
    }

    .logo_wrapper::before {
        font-size: 3.5rem;
    }
}    

/* 
表示崩れ防止 *ナビゲーション
———————————*/
@media (min-width:1920px) { /* 1920px以上 */
    .nav_item {
        font-size: 2rem; /* 最大値 */
    }
}    

@media (max-width:720px) { 
    .nav_item > a {
        padding: 17px 1em; /* 左右の間隔の縮小 */
    }
}    

/*
sp
———————————*/
@media (max-width:560px) {
    .logo_wrapper {
        flex-basis: 70%;
        min-width: 286px;
    }

    .logoTitle1 {
        font-size: calc(1rem + ((1vw - 3.2px) * 1.6667)); /* 10~14px */
    }
    
    .logoTitles2 {
        font-size: calc(2rem + ((1vw - 3.2px) * 3.3333)); /* 20~28px */
        line-height: 1.5;
    }
    
    .header_nav {
        /* visibility: hidden; */
        display: none; 
        position: absolute;
        top: 88px;
        left: 0;
        width: 100%;
        margin: 0;
        background: #ffffff;
        box-shadow: 0px 11px 10px -10px rgba(0, 0, 0, 0.2);
        align-items: normal;
    }

    .nav_items {
        display: block;
        width: 100%; /* リンク先を横一杯に広げる */
    }
    
    .nav_item {
        width: auto;
        border-right: none;
        font-size: calc(2rem + ((1vw - 3.2px) * 3.3333)); /* 20~28px */
        font-weight: 400;
        letter-spacing: 0.1em;
        text-align: right;
    }

    .nav_item > a {
        padding: 17px 0.5em;
    }

    .mobile-menu_btn {
        display: block; /* 表示 */
    }

    /* jsでactiveクラスをbodyに付与、その子要素として以下を指定していく */
    .active .header_nav {
        display: block;
        animation-name: fadeIn; /* .activeが付与されたらアニメーション開始 */
        animation-duration: 0.5s;
        animation-fill-mode: forwards;  /* opacity:1;を維持 */
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
  
        100% {
            opacity: 1;
        }
    }

    .active .mobile-menu_btn > span:nth-child(1) {
        transition-delay: 70ms;
        transform: translateY(15px) rotate(135deg); /* heightとmargin-bottomを足した値 */
    }

    .active .mobile-menu_btn > span:nth-child(2) {
        transition-delay: 0s;
        transform: translateX(-18px) scaleX(0); /* 横にずれて消える */
    }
    
    .active .mobile-menu_btn > span:nth-child(3) {
        transition-delay: 140ms;
        transform: translateY(-15px) rotate(-135deg);
    }
}    

/* 
表示崩れ防止 *ハンバーガーメニュー
———————————*/
@media (max-width:350px) { /* 350px以下 */
    .mobile-menu_btn > span {
        width: 30px;
        min-width: 30px;
    }
} 

/*---------------------------------

 プロフィール

---------------------------------*/
.profile {
    background: #fefeff;
}

.profile > .inner {
    width: 80%;
    margin: 0 auto;
}

.profile > .heading > .heading_text {
    border-bottom: solid 2px #000000;
    color: #000000;
}

.profile > .heading > span {
    color: #000000;
    font-weight: 500;
}

.profile > .inner > .wrapper {
    background: url(../img/profile.jpg) bottom / cover no-repeat; /* containだと下に余白が生まれる */
    padding: 0 5% 11% 50%; /* ここで文字の位置を調整 */
    /* height: 34.5vw; paddingで高さを取るとpositionを使わないと中に文字を配置出来ない
    max-height: 663px;
    min-height: 400px; */
}

.profile > .inner > .wrapper > .title {
    position: relative;
    margin: 0 0 1.57em 0;
    padding-top: 2.9em;
    color: #000000;
    font-size: calc(1.4rem + ((1vw - 7.2px) * 1.1667)); /* 14~28px */
    font-weight: 700;
    white-space: nowrap;
}

.profile > .inner > .wrapper > .title::after {
    content: "\f304";
    position: absolute;
    top: 2em;
    left: 9em;
    color: #000000;
    font-family: "Font Awesome 5 Free";
    font-size: calc(2rem + ((1vw - 7.2px) * 1.6667)); /* 20~40px */
    font-weight: 900;
}

.profile > .inner > .wrapper > .text {
    color: #000000;
    font-size: calc(1rem + ((1vw - 7.2px) * 0.8333)); /* 10~20px */
    font-weight: 400;
    line-height: 2;
    text-align: justify; /* 改行位置を揃える */
}

.profile > .inner > .wrapper > .text:not(:last-child) {
    margin-bottom: 2em;
}

/*
文字の最大値 
———————————*/
@media (min-width:1920px) {
    .profile > .inner > .wrapper > .title {
        font-size: 28px;
    }

    .profile > .inner > .wrapper > .title::after {
        font-size: 40px;
    }
}

/*
表示崩れ防止 *1100~720px
———————————*/
@media (max-width:1000px) {
    .profile > .inner > .wrapper {
        padding-bottom: 4%; /* プロフィール文のズレを解消 */
    }
}

/*
sp
———————————*/
@media (max-width:720px) {
    .profile > .inner { 
        width: 90%;
        margin: 0 auto;
    }
    
    .profile > .inner > .wrapper {
        height: auto; 
        min-height: auto;
        padding: 3em;
        border: 1px solid #000000;
        background: none;
    }

    .profile > .inner > .wrapper > .title {
        padding: 0;
        font-size: calc(1.1rem + ((1vw - 3.2px) * 3.5417)); /*  11~28px */
        text-align: center;
    }

    .profile > .inner > .wrapper > .title::after {
        position: static;
        margin-left: 5px;
        font-size: calc(1.5rem + ((1vw - 3.2px) * 3.125)); /*  15~30px */
    }

    .profile > .inner > .wrapper > .text {
        display: inline-block;
        font-size: calc(1rem + ((1vw - 3.2px) * 1.3793)); /* 10~18px */
        text-align: justify;
    }
}

@media (max-width:560px) {
    .profile > .inner > .wrapper {
        padding: 2em;
    }
}

/*---------------------------------

 ワークス

---------------------------------*/
.works {
    background: rgba(240, 240, 240,1);
}

.works > .heading > .heading_text {
    border-bottom: solid 2px #000000;
    color: #000000;
}

.works > .heading > span {
    color: #000000;
}

.works > .wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 100%;
    padding: 0 30px;
}

.card {
    width: 30%;
    overflow: hidden;
    border: solid 1px #000000;
    position: relative; /* .hover-darken用 */
    z-index: 0;
}

.active-hover .hover-darken::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
}

.active-hover .hover-darken:hover::after {
    content: "Click";
    display: flex; /* 要素同士を並べる為ではなくて、文字を縦横中央揃えにする為 */
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 25px;
}

.card .card_imgWrapper {
    display: block; /* inline-blockでも良い */
    width: 100%;
}

.card_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card:hover .card_img {
    transform: scale(1.05) ;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.modal > .overlay {
    position:absolute;
    top:0;
    left:0;
    z-index: 1; /* .modal-contentとの重なり */
    /* このz-indexはローカルスタックコンテキストで、wrapperには属さないから
    headerとの重なりはここでは制御できない */
    width:100%;
    height:100vh;
    background:rgba(181,177,177,0.5); /* 透過させて後ろの画面が映るようにする */
}

.modal_content {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 2;
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    background: #ffffff;
}

.modal_imgWrapper {
    display: block;
    width: 100%;
    margin-right: 20px;
}

.modal_img {
    width: 100%;
    height: auto;
}

.modal_text {
    font-size: 22px;
    display: inline-block;
}

.modal_text:first-child {
    display: block;
    margin-top: 10px;
}

.modal_text:nth-child(2) {
    margin-top: 10px;
}

.modal_text > a {
    color: #617c8c;
}

.active-hover .modal_text > a:hover {
    text-decoration: underline;
    color: #000000;
}

.dummy::after {
    content: "/";
    margin: 0 5px;
    color: #617c8c;
}

/*
sp
———————————*/
@media (max-width:720px) {
    .works .wrapper {
        flex-direction: column;
        align-items: center; /* 左右中央よせ */
        padding: 0;
    }
    
    .card {
        width: 90%;
        margin: 0 auto;
    }

    .card + .card {
        margin-top: 65px;
    }
    
    .card .card_imgWrapper .card_img {
        width: 100%;
        height: auto;
    }

    .modal_content {
        top: 40%;
        width: 95%;
        padding: 20px;
    }

    .modal_text {
        font-size: 15px;
    }
}

/*---------------------------------

 コンタクト

---------------------------------*/
.contact {
    background: #fefeff;
}

.contact > .heading > .heading_text {
    border-bottom: solid 2px #000000;
    color: #000000;
}

.contact > .heading > span {
    color: #000000;
    font-weight: 500;
}

.contact > .inner > .wrapper {
    width: 40.1%;
    min-width: 450px;
    margin: 0 auto;
}

.formGroup {
    display: block;
    margin-bottom: 3vw;
}

.formGroup > span {
    display: block;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.formGroup > input {
    width: 100%;
    padding: 0.2em 0.5em;
    border: 1px solid #537FBD;
    border-radius: 6px;
    box-shadow: 2px 2px 4px -2px rgba(128, 128, 128, 1) inset, -2px -2px 4px -2px gray inset;
    background: #ffffff;    
    font-size: 2rem;
    line-height: 1.5;
}

.formGroup > textarea {
    width: 100%;
    height: 217px;
    padding: 0.5em;
    border: 1px solid #537FBD;
    border-radius: 6px;
    box-shadow: 2px 2px 4px -2px rgba(128, 128, 128, 1) inset, -2px -2px 4px -2px gray inset;
    background: #ffffff;
    font-size: 2rem;
    line-height: 1;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 0.5em 4em;
    border: 1px solid #537FBD;
    box-shadow: 2px 2px 4px -2px rgba(128, 128, 128, 1) inset, -2px -2px 4px -2px gray inset;
    background: #ffffff;
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2em;
}

/*
表示崩れ防止
———————————*/
@media (max-width:1000px) {
    .formGroup > label {
        font-size: 1.4rem;
    }
}

/*
sp
———————————*/
@media (max-width:560px) {
    .contact > .inner > .wrapper {
        width: 90%;
        min-width: 300px;
    }

    .formGroup {
        margin-bottom: 7vw;
    }

    .formGroup > span {
        font-size: 1.5rem;
    }

    .formGroup > input , .formGroup > textarea {
        font-size: 1.6rem;
    }
}

/*---------------------------------

 フッター

---------------------------------*/
.footer {
    width: 100%;
    padding: 79px 0;
    background: rgba(240, 240, 240,1);
}

.copyright {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}

/*
sp
———————————*/
@media (max-width:560px) {
    .footer {
        padding: 50px 0 0 0;
    }

    .copyright {
        font-size: 1rem;
    }
}
